
@media only screen and (min-width: 1440px) {
    body{
      font-family: 'Roboto', sans-serif;
      background-image: url(bgimg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
      font-weight: 500;


    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 800px;
        color:#5F7161;
        background-color: #9CAC94;
        margin: auto;
        width: 100%;
        height: 90px;
    }
    .section{
        height: auto;
        margin: auto;

    }


    .container{
        display: flex;
        justify-content: center;
        

    }
    .social-net{
        width: 384px;
        height: 439px;

    }
    
}

@media only screen and (min-width: 370px) {
    body{
      font-family: 'Roboto', sans-serif;
      background-color: #5F7161;
      background-image: url(/imgs/bgimg.jpg);
      background-repeat: no-repeat;
     background-position-x: 50%;
      margin: auto;
      font-weight: 500;


    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-weight: 800px;
        color:#5F7161;
        background-color: #9CAC94;
        margin: auto;
        width: 100%;
        height: 90px;
    }
    .section{
        height: auto;
        margin: auto;

    }


    .container{
        display: flex;
        justify-content: center;
        

    }
    .social-net{
        width: 384px;
        height: 439px;

    }
    
}




